.buttonList{
    list-style: none;
    display: flex;
    padding-left: 0;
}

.button{
    border-radius: 3px;
    margin-left: 15px;
    border: 1px solid ;
    border-color: rgb(60, 58, 58);
    background-color: white;
    cursor: pointer;
}